<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
    <title>Proyecto SSR</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta http-equiv="refresh" content="60">
</head>
<body>
<img src="/static/css/logoe.png" alt="Texto alternativo de la imagen" id="img_logo">
<img src="/static/css/escudo62.png" alt="Texto alternativo de la imagen" id="img_escudo">
<img src="/static/css/logo_acre.png" alt="Texto alternativo de la imagen" id="img_logo_acre">
<div id="centrar-contenido">
    <h1 class="titulo">SSR COMPOSTAJE</h1>
    <h2><small>SISTEMA DE SUPERVISIÓN REMOTO - COMPOSTAJE</small></h2>
    {% if datos %}
    <div class="container">
        <div class="right">
            <h1 class="pilax">PILA X</h1>
            <div class="dato">
                <h1 class="humedadx">HUMEDAD[%]</h1>
                <span class="dato-nombre">15CM:</span>
                <span class="dato-valor">{{ datos['H-X-15CM'] }}</span>
            </div>
            <div class="dato">
                <span class="dato-nombre">75CM:</span>
                <span class="dato-valor">{{ datos['H-X-75CM'] }}</span>
            </div>
            <div class="dato">
                <span class="dato-nombre">PROM:</span>
                <span class="dato-valor" id="prom-hx">{{ datos['PROM H-X'] }}</span>
            </div>
            <div>
                <input class="input" type="number" name="HUM MIN X" id="hum-min-x" oninput="guardarValor('hum-min-x')">
                <input class="input" type="number" name="HUM MAX X" id="hum-max-x" oninput="guardarValor('hum-max-x')">
            </div>
            <div class="dato">
                <h1 class="tempx">TEMPERATURA[°C]</h1>
                <span class="dato-nombre">15CM:</span>
                <span class="dato-valor">{{ datos['T-X-15CM'] }}</span>
            </div>
            <div class="dato">
                <span class="dato-nombre">75CM:</span>
                <span class="dato-valor">{{ datos['T-X-75CM'] }}</span>
            </div>
            <div class="dato">
                <span class="dato-nombre">PROM:</span>
                <span class="dato-valor" id="prom-tx">{{ datos['PROM T-X'] }}</span>
            </div>
            <div>
                <input class="input" type="number" name="TEM MIN X" id="tem-min-x" oninput="guardarValor('tem-min-x')">
                <input class="input" type="number" name="TEM MAX X" id="tem-max-x" oninput="guardarValor('tem-max-x')">
            </div>
        </div>
        <div class="left">
            <h1 class="pilay">PILA Y</h1>
            <div class="dato">
                <h1 class="humedady">HUMEDAD[%]</h1>
                <span class="dato-nombre">15CM:</span>
                <span class="dato-valor">{{ datos['H-Y-15CM'] }}</span>
            </div>
            <div class="dato">
                <span class="dato-nombre">75CM:</span>
                <span class="dato-valor">{{ datos['H-Y-75CM'] }}</span>
            </div>
            <div class="dato">
                <span class="dato-nombre">PROM:</span>
                <span class="dato-valor" id="prom-hy">{{ datos['PROM H-Y'] }}</span>
            </div>
            <div>
                <input class="input" type="number" name="HUM MIN Y" id="hum-min-y" oninput="guardarValor('hum-min-y')">
                <input class="input" type="number" name="HUM MAX Y" id="hum-max-y" oninput="guardarValor('hum-max-y')">
            </div>
            <div class="dato">
                <h1 class="tempy">TEMPERATURA[°C]</h1>
                <span class="dato-nombre">15CM:</span>
                <span class="dato-valor">{{ datos['T-Y-15CM'] }}</span>
            </div>
            <div class="dato">
                <span class="dato-nombre">75CM:</span>
                <span class="dato-valor">{{ datos['T-Y-75CM'] }}</span>
            </div>
            <div class="dato">
                <span class="dato-nombre">PROM:</span>
                <span class="dato-valor" id="prom-ty">{{ datos['PROM T-Y'] }}</span>
            </div>
            <div>
                <input class="input" type="number" name="TEM MIN Y" id="tem-min-y" oninput="guardarValor('tem-min-y')">
                <input class="input" type="number" name="TEM MAX Y" id="tem-max-y" oninput="guardarValor('tem-max-y')">
            </div>
        </div>
        <!-- Añade aquí los divs para los demás datos -->
        {% else %}
        <p>No se han recibido datos aún.</p>
        {% endif %}

        <script>
      function guardarValor(inputId) {
        var input = document.getElementById(inputId);
        localStorage.setItem(inputId, input.value);
      }
      function cargarValor(inputId) {
        var input = document.getElementById(inputId);
        var valorGuardado = localStorage.getItem(inputId);
        if (valorGuardado) {
        input.value = valorGuardado;
      }
      return valorGuardado;
    }
    window.onload = function() {
      let hum_min_y = cargarValor('hum-min-y');
      let hum_max_y = cargarValor('hum-max-y');

      let prom_hy = document.getElementById("prom-hy").textContent;
      let prom_hy_num = parseFloat(prom_hy);
      console.log(prom_hy_num);
      console.log(hum_min_y);
      console.log(hum_max_y);
      if(prom_hy_num<hum_min_y){
      alert("Humedad insuficiente en PILA Y, activar VALVULA Y");
      }
      if(prom_hy_num>hum_max_y){
      alert("Oxigeno insuficiente en PILA Y, realizar volteo o activar VENTILADOR");
      }

      let tem_min_y = cargarValor('tem-min-y');
      let tem_max_y = cargarValor('tem-max-y');

      let prom_ty = document.getElementById("prom-ty").textContent;
      let prom_ty_num = parseFloat(prom_ty);
      console.log(prom_ty_num);
      console.log(tem_min_y);
      console.log(tem_max_y);
      if(prom_ty_num<tem_min_y){
        alert("Humedad insuficiente en PILA Y, activar VALVULA Y");
      }
      if(prom_ty_num>tem_max_y){
      alert("Ventilacion y humedad insuficiente en PILA Y, realizar volteo, activar VENTILADOR y fijar humedad Y [55%-60%]");
      }

      let hum_min_x = cargarValor('hum-min-x');
      let hum_max_x = cargarValor('hum-max-x');

      let prom_hx = document.getElementById("prom-hx").textContent;
      let prom_hx_num = parseFloat(prom_hx);
      console.log(prom_hx_num);
      console.log(hum_min_x);
      console.log(hum_max_x);
      if(prom_hx_num<hum_min_x){
      alert("Humedad insuficiente en PILA X, activar VALVULA X");
      }
      if(prom_hx_num>hum_max_x){
      alert("Oxigeno insuficiente en PILA X, realizar volteo o activar VENTILADOR");
      }

      let tem_min_x = cargarValor('tem-min-x');
      let tem_max_x = cargarValor('tem-max-x');

      let prom_tx = document.getElementById("prom-tx").textContent;
      let prom_tx_num = parseFloat(prom_tx);
      console.log(prom_tx_num);
      console.log(tem_min_x);
      console.log(tem_max_x);
      if(prom_tx_num<tem_min_x){
      alert("Humedad insuficiente en PILA X, activar VALVULA X");
      }
      if(prom_tx_num>tem_max_x){
      alert("Ventilacion y humedad insuficiente en PILA X, realizar volteo, activar VENTILADOR y fijar humedad X [55%-60%]");
      }

    };















        </script>

        <div class="contenedor_out">
            <div class="contenido">
                <h1>VENTILADOR</h1>
                <div class="botones">
                    <button id="uno">20[S]</button>
                    <button id="dos">40[S]</button>
                    <button id="tres">80[S]</button>
                    <button id="off">OFF</button>
                </div>
                <script>
    $(document).ready(function() {

        $('#uno').click(function() {
          $.post('/led', JSON.stringify({'value': 'uno'}), function(data) {
            console.log(data);
          });
        });

        $('#dos').click(function() {
          $.post('/led', JSON.stringify({'value': 'dos'}), function(data) {
            console.log(data);
          });
        });

        $('#tres').click(function() {
          $.post('/led', JSON.stringify({'value': 'tres'}), function(data) {
            console.log(data);
          });
        });

        $('#off').click(function() {
          $.post('/led', JSON.stringify({'value': 'off'}), function(data) {
            console.log(data);
          });
        });
      });

                </script>
            </div>

            <div class="contenido">
                <h1>VALVULA X</h1>
                <div class="botones">
                    <button id="uno_vx">20[S]</button>
                    <button id="dos_vx">40[S]</button>
                    <button id="tres_vx">80[S]</button>
                    <button id="off_vx">OFF</button>
                </div>
                <script>
      $(document).ready(function() {

        $('#uno_vx').click(function() {
          $.post('/valvx', JSON.stringify({'valuevx': 'uno_vx'}), function(data) {
            console.log(data);
          });
        });

        $('#dos_vx').click(function() {
          $.post('/valvx', JSON.stringify({'valuevx': 'dos_vx'}), function(data) {
            console.log(data);
          });
        });

        $('#tres_vx').click(function() {
          $.post('/valvx', JSON.stringify({'valuevx': 'tres_vx'}), function(data) {
            console.log(data);
          });
        });

        $('#off_vx').click(function() {
          $.post('/valvx', JSON.stringify({'valuevx': 'off_vx'}), function(data) {
            console.log(data);
          });
        });
      });

                </script>
            </div>
            <div class="contenido">
                <h1>VALVULA Y</h1>
                <div class="botones">
                    <button id="uno_vy">20[S]</button>
                    <button id="dos_vy">40[S]</button>
                    <button id="tres_vy">80[S]</button>
                    <button id="off_vy">OFF</button>
                </div>
                <script>
      $(document).ready(function() {

        $('#uno_vy').click(function() {
          $.post('/valvy', JSON.stringify({'valuevy': 'uno_vy'}), function(data) {
            console.log(data);
          });
        });

        $('#dos_vy').click(function() {
          $.post('/valvy', JSON.stringify({'valuevy': 'dos_vy'}), function(data) {
            console.log(data);
          });
        });

        $('#tres_vy').click(function() {
          $.post('/valvy', JSON.stringify({'valuevy': 'tres_vy'}), function(data) {
            console.log(data);
          });
        });

        $('#off_vy').click(function() {
          $.post('/valvy', JSON.stringify({'valuevy': 'off_vy'}), function(data) {
            console.log(data);
          });
        });
      });


                </script>
            </div>
        </div>
    </div>

    <div class="texto_superior">
        <div class="bloque1">
            <p>TRABAJO DE GRADO</p>
            <p>INGENIERIA ELECTRONICA</p>
            <p>AUTOR: DIEGO CASTILLO</p>
        </div>
        <div class="bloque2">
            <p>DIRECTOR:</p>
            <p>MSC. HEBER PABON</p>
        </div>
        <div class="bloque3">
            <p>COORDINACION DE LABORATORIOS</p>
            <p>FREDY SOLANO ORTEGA</p>
        </div>
        <div class="bloque4">
            <p>(PLAN DE GESTION INTEGRAL DE</p>
            <p>RESIDUOS HOSPITALARIOS Y SIMILARES)</p>
            <p>PGIRHS</p>
        </div>
        <div class="bloque5">
            <p>CESAR LIZARAZO</p>
        </div>
    </div>

</div>
</body>
</html>